# Lectura y Escritura de ficheros Excel con Pandas

In [22]:
import pandas as pd
#fichero .csv cuyos datos están separados por comas. La primera fila indicaa la información que hay por cada columna
file='/content/drive/MyDrive/Ficheros_leer/notas.xlsx'
outfile = open(file, 'r')
#leemos el fichero complete
#dataset = pd.read_excel(file) #podemos indicar solo una hora del fichero con name_sheet
dataset = pd.read_excel(file,index_col='NIF')
print(dataset)
print(type(dataset))

print("***Indeces\n", dataset.index)
print("***Cabeceras\n",dataset.head())
#print("NIF\n",dataset['NIF']) #si NIF va como index_col, entonces NIF no se puede usar como clave
print("Nombre: \n", dataset['Nombre'])
print("P1:\n", dataset['P1'])

            Nombre   P1    P2   P3   P4
NIF
22333111a     Juan  9.5   8.0  5.5  9.0
11333111b      Ana  7.5   5.0  6.5  8.0
11333222c  Antonio  4.5   5.0  3.5  6.0
55333111a     Alex  2.3  10.0  6.5  3.2
22888111b   Estela  7.0   9.5  4.5  6.2
<class 'pandas.core.frame.DataFrame'>
***Indeces
 Index(['22333111a', '11333111b', '11333222c', '55333111a', '22888111b'], dtype='object', name='NIF')
***Cabeceras
             Nombre   P1    P2   P3   P4
NIF
22333111a     Juan  9.5   8.0  5.5  9.0
11333111b      Ana  7.5   5.0  6.5  8.0
11333222c  Antonio  4.5   5.0  3.5  6.0
55333111a     Alex  2.3  10.0  6.5  3.2
22888111b   Estela  7.0   9.5  4.5  6.2
Nombre:
 NIF
22333111a       Juan
11333111b        Ana
11333222c    Antonio
55333111a       Alex
22888111b     Estela
Name: Nombre, dtype: object
P1:
 NIF
22333111a    9.5
11333111b    7.5
11333222c    4.5
55333111a    2.3
22888111b    7.0
Name: P1, dtype: float64

In [17]:
for k in dataset:
  print(dataset[k])  #imprime las columnas



#Muestra las cinco primeras filas
print("Cinco primeras filas")
print(dataset.head())
#Muestra las cinco últimas filas
print("cinco últimas filas")
print(dataset.tail())

NIF
22333111a       Juan
11333111b        Ana
11333222c    Antonio
55333111a       Alex
22888111b     Estela
Name: Nombre, dtype: object
NIF
22333111a    9.5
11333111b    7.5
11333222c    4.5
55333111a    2.3
22888111b    7.0
Name: P1, dtype: float64
NIF
22333111a     8.0
11333111b     5.0
11333222c     5.0
55333111a    10.0
22888111b     9.5
Name: P2, dtype: float64
NIF
22333111a    5.5
11333111b    6.5
11333222c    3.5
55333111a    6.5
22888111b    4.5
Name: P3, dtype: float64
NIF
22333111a    9.0
11333111b    8.0
11333222c    6.0
55333111a    3.2
22888111b    6.2
Name: P4, dtype: float64
Cinco primeras filas
            Nombre   P1    P2   P3   P4
NIF
22333111a     Juan  9.5   8.0  5.5  9.0
11333111b      Ana  7.5   5.0  6.5  8.0
11333222c  Antonio  4.5   5.0  3.5  6.0
55333111a     Alex  2.3  10.0  6.5  3.2
22888111b   Estela  7.0   9.5  4.5  6.2
cinco últimas filas
            Nombre   P1    P2   P3   P4
NIF
22333111a     Juan  9.5   8.0  5.5  9.0
11333111b      Ana  7.5   5.0  6.5  8.0
11333222c  Antonio  4.5   5.0  3.5  6.0
55333111a     Alex  2.3  10.0  6.5  3.2
22888111b   Estela  7.0   9.5  4.5  6.2

In [47]:
#vamos a construir un diccionario, cuyas claves sean los NIFs, y asociado a cada clave las notas y las medias
alumnos={}
for nif in dataset.index:
  alumnos[nif]=[]

for d in dataset:
  print("----")
  print(d.index)
  print(d)
  print(dataset[d])
  for nif in dataset[d].index:
    #alumnos[nif].append({d:dataset[d][0]})
    if d !='Nombre':
      alumnos[nif].append(dataset[d][0])

print(alumnos)
import numpy as np
#vamos a incluir la media al final
for key in alumnos:
  media=np.mean(alumnos[key])
  alumnos[key].append(media)

for k in alumnos:
  print("k= ", alumnos[k])

----
<built-in method index of str object at 0x7b8813f09ff0>
Nombre
NIF
22333111a       Juan
11333111b        Ana
11333222c    Antonio
55333111a       Alex
22888111b     Estela
Name: Nombre, dtype: object
----
<built-in method index of str object at 0x7b8813f09b30>
P1
NIF
22333111a    9.5
11333111b    7.5
11333222c    4.5
55333111a    2.3
22888111b    7.0
Name: P1, dtype: float64
----
<built-in method index of str object at 0x7b8813f05cf0>
P2
NIF
22333111a     8.0
11333111b     5.0
11333222c     5.0
55333111a    10.0
22888111b     9.5
Name: P2, dtype: float64
----
<built-in method index of str object at 0x7b8813e94130>
P3
NIF
22333111a    5.5
11333111b    6.5
11333222c    3.5
55333111a    6.5
22888111b    4.5
Name: P3, dtype: float64
----
<built-in method index of str object at 0x7b8813e97d70>
P4
NIF
22333111a    9.0
11333111b    8.0
11333222c    6.0
55333111a    3.2
22888111b    6.2
Name: P4, dtype: float64
{'22333111a': [9.5, 8.0, 5.5, 9.0], '11333111b': [9.5, 8.0, 5.5, 9.0], '11333222c': [9.5, 8.0, 5.5, 9.0], '55333111a': [9.5, 8.0, 5.5, 9.0], '22888111b': [9.5, 8.0, 5.5, 9.0]}
k=  [9.5, 8.0, 5.5, 9.0, 8.0]
k=  [9.5, 8.0, 5.5, 9.0, 8.0]
k=  [9.5, 8.0, 5.5, 9.0, 8.0]
k=  [9.5, 8.0, 5.5, 9.0, 8.0]
k=  [9.5, 8.0, 5.5, 9.0, 8.0]

In [53]:
#guardamos nuestro diccionario en un fichero excel

file2='/content/drive/MyDrive/Ficheros_leer/notas_mod.xlsx'
outfile2 = open(file2, 'w')
df = pd.DataFrame(alumnos).T  # transpose to look just like the sheet above
df.columns=["NIF", "P1", "P2", "P3", "Media"]
df.to_excel(file2)
outfile2.close()

In [54]:
#Podemos convertir el excel directamente en un diccionario


dict_excel=dataset.to_dict()
print(dict_excel)

{'Nombre': {'22333111a': 'Juan', '11333111b': 'Ana', '11333222c': 'Antonio', '55333111a': 'Alex', '22888111b': 'Estela'}, 'P1': {'22333111a': 9.5, '11333111b': 7.5, '11333222c': 4.5, '55333111a': 2.3, '22888111b': 7.0}, 'P2': {'22333111a': 8.0, '11333111b': 5.0, '11333222c': 5.0, '55333111a': 10.0, '22888111b': 9.5}, 'P3': {'22333111a': 5.5, '11333111b': 6.5, '11333222c': 3.5, '55333111a': 6.5, '22888111b': 4.5}, 'P4': {'22333111a': 9.0, '11333111b': 8.0, '11333222c': 6.0, '55333111a': 3.2, '22888111b': 6.2}}

In [49]:
outfile.close()